<div class="editbaiviet">
    <h3 class="text-center">| Chỉnh Sửa Bài Viết</h3>
    <div class="container">
        <div class="row">
            <div class="col">
                <form>
                    <div class="form-group">
                        <input type="text" class="form-control" id="edittieudeBV" aria-describedby="emailHelp"
                            name="edittieudeBV" placeholder="Tiêu Đề Bài Viết . . .">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" id="edittomtatBV" aria-describedby="emailHelp"
                            name="edittomtatBV" placeholder="Nội Dung Tóm Tắt . . .">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" id="editnoidungBV" aria-describedby="emailHelp"
                            name="editnoidungBV" placeholder="Nội Dung Chính . . .">
                    </div>
                    <div class="form-group">
                        <select class="form-control" id="editexampleFormControlSelect1" name="editloaiBaiViet">
                            <option>Không mất phí</option>
                            <option>Mất phí</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <input type="hidden" class="form-control" id="edittacgia" aria-describedby="emailHelp"
                            name="edittacgia">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" id="editngaydang" aria-describedby="emailHelp"
                            name="editngaydang" placeholder="Ngày Đăng . . .">
                    </div>
                    <button type="submit" style="
    width: 100%;
" class="btn btn-primary mt-4 mb-4">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>
{{#section 'js'}}
<script src="https://cdn.tiny.cloud/1/wc2zes0u5j2hxklaov2xxoswv6griqgeb3tzkqfotvmf4yjp/tinymce/5/tinymce.min.js"
    referrerpolicy="origin"></script>
<script
    src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.full.min.js"></script>
<script>

    tinymce.init({
        selector: '#editnoidungBV',
        height: 200,
        plugins: 'paste image link autolink lists table media',
        menubar: false,
        toolbar: [
            'undo redo | bold italic underline strikethrough | numlist bullist | alignleft aligncenter alignright | forecolor backcolor | table link image media',
        ],
    });
</script>

<script>

    $('#editngaydang').datetimepicker({
        format: 'd/m/Y',
        timepicker: false,
        mask: true
    })
</script>

{{/section}}
{{#section 'cssLogin'}}
<link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.min.css">
{{/section}}