<!-- Nav tabs xxx-->
<!-- main -->
<!-- bviet noi bat -->
<section style="padding-top: 100px;">
    <div class="background">
        <div class="container background-post">
            <div class="title-post text-center">Bài viết nổi bật</div>
            <div class="content-post">
                <div class="row">
                    <div class="col-sm-12 col-md-6">
                        <div class="post-item">
                            <div class="item-img">
                                 <a href="#"><img src="/public/assets/Blog-post/blog1.png" width="100px" height="100px"> </a>
                            </div>
                            <div class="content-post">
                                <div class="post-title"><a href="">Lorem ipsum dolor, sit amet consectetur
                                        adipisicing elit</a>
                                </div>
                                <div class="post-cre-date"> <i class="fa fa-calendar" aria-hidden="true"></i>
                                    22/12/2020</div>
                                <div class="post-category"><a href="#">LMHT</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6">
                        <div class="post-item">
                            <div class="item-img">
                                 <a href="#"><img src="/public/assets/Blog-post/blog1.png" width="100px" height="100px"> </a>
                            </div>
                            <div class="content-post">
                                <div class="post-title"><a href="">Lorem ipsum dolor, sit amet consectetur
                                        adipisicing elit</a>
                                </div>
                                <div class="post-cre-date"> <i class="fa fa-calendar" aria-hidden="true"></i>
                                    22/12/2020</div>
                                <div class="post-category"><a href="#">LMHT</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6">
                        <div class="post-item">
                            <div class="item-img">
                                 <a href="#"><img src="/public/assets/Blog-post/blog1.png" width="100px" height="100px"> </a>
                            </div>
                            <div class="content-post">
                                <div class="post-title"><a href="">Lorem ipsum dolor, sit amet consectetur
                                        adipisicing elit</a>
                                </div>
                                <div class="post-cre-date"> <i class="fa fa-calendar" aria-hidden="true"></i>
                                    22/12/2020</div>
                                <div class="post-category"><a href="#">LMHT</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6">
                        <div class="post-item">
                            <div class="item-img">
                                 <a href="#"><img src="/public/assets/Blog-post/blog1.png" width="100px" height="100px"> </a>
                            </div>
                            <div class="content-post">
                                <div class="post-title"><a href="">Lorem ipsum dolor, sit amet consectetur
                                        adipisicing elit</a>
                                </div>
                                <div class="post-cre-date"> <i class="fa fa-calendar" aria-hidden="true"></i>
                                    22/12/2020</div>
                                <div class="post-category"><a href="#">LMHT</a></div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
<!-- bviet noi bat xxx -->

<!-- top 10 view  -->
<section>
    <div class="topTenview">
        <div class="container">
            <div class="item-top-view">
                <div class="title-top-view text-center">
                    Top 10 view
                </div>
                <div class="slick-multiline-top-view">
                    <div class="item">
                        <div class="img-top-view">
                            <a href="#"><img src="/public/assets/Blog-post/blog1.png"> </a>
                        </div>
                        <div class="content-item-top-view">
                            <div class="tw-title"><a href="#">Lorem ipsum, dolor sit amet consectetur adipisicing
                                    elit.</a>
                            </div>
                            <div class="tw-date">02/2/2000</div>
                            <div class="tw-category"><a href="#">LMHT</a></div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="img-top-view">
                            <a href="#"><img src="/public/assets/Blog-post/blog1.png"> </a>
                        </div>
                        <div class="content-item-top-view">
                            <div class="tw-title"><a href="#">Lorem ipsum, dolor sit amet consectetur adipisicing
                                    elit.</a>
                            </div>
                            <div class="tw-date">02/2/2000</div>
                            <div class="tw-category"><a href="#">LMHT</a></div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="img-top-view">
                            <a href="#"><img src="/public/assets/Blog-post/blog1.png"> </a>
                        </div>
                        <div class="content-item-top-view">
                            <div class="tw-title"><a href="#">Lorem ipsum, dolor sit amet consectetur adipisicing
                                    elit.</a>
                            </div>
                            <div class="tw-date">02/2/2000</div>
                            <div class="tw-category"><a href="#">LMHT</a></div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="img-top-view">
                            <a href="#"><img src="/public/assets/Blog-post/blog1.png"> </a>
                        </div>
                        <div class="content-item-top-view">
                            <div class="tw-title"><a href="#">Lorem ipsum, dolor sit amet consectetur adipisicing
                                    elit.</a>
                            </div>
                            <div class="tw-date">02/2/2000</div>
                            <div class="tw-category"><a href="#">LMHT</a></div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="img-top-view">
                            <a href="#"><img src="/public/assets/Blog-post/blog1.png"> </a>
                        </div>
                        <div class="content-item-top-view">
                            <div class="tw-title"><a href="#">Lorem ipsum, dolor sit amet consectetur adipisicing
                                    elit.</a>
                            </div>
                            <div class="tw-date">02/2/2000</div>
                            <div class="tw-category"><a href="#">LMHT</a></div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
<!-- top 10 view  xxx-->
<!-- top 10 post new -->
<section>
    <div class="topTenview">
        <div class="container">
            <div class="item-top-view">
                <div class="title-top-view text-center newpost-title">
                    Bài Viết Mới Nhất
                </div>
                <div class="slick-multiline-top-new">
                    <div class="item">
                        <div class="img-top-view">
                            <a href="#"><img src="/public/assets/Blog-post/blog1.png"> </a>
                        </div>
                        <div class="content-item-top-view">
                            <div class="tw-title"><a href="#">Lorem ipsum, dolor sit amet consectetur adipisicing
                                    elit.</a>
                            </div>
                            <div class="tw-date">02/2/2000</div>
                            <div class="tw-category"><a href="#">LMHT</a></div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="img-top-view">
                            <a href="#"><img src="/public/assets/Blog-post/blog1.png"> </a>
                        </div>
                        <div class="content-item-top-view">
                            <div class="tw-title"><a href="#">Lorem ipsum, dolor sit amet consectetur adipisicing
                                    elit.</a>
                            </div>
                            <div class="tw-date">02/2/2000</div>
                            <div class="tw-category"><a href="#">LMHT</a></div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="img-top-view">
                            <a href="#"><img src="/public/assets/Blog-post/blog1.png"> </a>
                        </div>
                        <div class="content-item-top-view">
                            <div class="tw-title"><a href="#">Lorem ipsum, dolor sit amet consectetur adipisicing
                                    elit.</a>
                            </div>
                            <div class="tw-date">02/2/2000</div>
                            <div class="tw-category"><a href="#">LMHT</a></div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="img-top-view">
                            <a href="#"><img src="/public/assets/Blog-post/blog1.png"> </a>
                        </div>
                        <div class="content-item-top-view">
                            <div class="tw-title"><a href="#">Lorem ipsum, dolor sit amet consectetur adipisicing
                                    elit.</a>
                            </div>
                            <div class="tw-date">02/2/2000</div>
                            <div class="tw-category"><a href="#">LMHT</a></div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="img-top-view">
                            <a href="#"><img src="/public/assets/Blog-post/blog1.png"> </a>
                        </div>
                        <div class="content-item-top-view">
                            <div class="tw-title"><a href="#">Lorem ipsum, dolor sit amet consectetur adipisicing
                                    elit.</a>
                            </div>
                            <div class="tw-date">02/2/2000</div>
                            <div class="tw-category"><a href="#">LMHT</a></div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
<!-- top 10 post new xxx-->


<!-- top 10 chuyen muc -->
<section>

    <div class="tag-chuyenmuc">
        <h3 class="title-chuyenmuc">
            top 10 chuyên mục
        </h3>
        <ul class="list-chuyenmuc">
            <li><a href="#">#Kinh Doanh</a></li>
            <li><a href="#">#Kinh Doanh</a></li>
            <li><a href="#">#Kinh Doanh</a></li>
            <li><a href="#">#Kinh Doanh</a></li>
            <li><a href="#">#Kinh Doanh</a></li>
            <li><a href="#">#Kinh Doanh</a></li>
            <li><a href="#">#Kinh Doanh</a></li>
            <li><a href="#">#Kinh Doanh</a></li>
            <li><a href="#">#Kinh Doanh</a></li>
            <li><a href="#">#Kinh Doanh</a></li>
        </ul>
    </div>
</section>


<!-- top 10 chuyen muc xxx -->
<!-- main xxx-->

<!-- Footer -->