<div class="container mt-4">

    <div class="row">
        <div class="col-2"></div>
        <div class="col-8">
            <div class="extension">
                <form action="" method="post">
                    <h3 class="text-center">Gia hạn tài khoản !</h3>
                    <div class="form-group">
                        <input type="text" name="extension" class="form-control" placeholder="UserName">
                    </div>
                    <button type="submit" class="btn btn-primary w-100 mb-4">Gửi</button>
                </form>
            </div>
        </div>
        <div class="col-2"></div>
    </div>
</div>