<section>
    <div class="topTenview">
        <div class="container">
            <div class="ctent-list">
                <h3 class="mt-4 text-center">Kinh Tế</h3>
                <hr>
                <div class="list-ct mt-4 ">
                    <div class="item">
                        <div class="img-top-view">
                            <a href="#"><img src="/public/assets/Blog-post/blog1.png"> </a>
                        </div>
                        <div class="content-item-top-view">
                            <div class="tw-title"><a href="#">Lorem ipsum, dolor sit amet consectetur adipisicing
                                    elit.</a>
                            </div>
                            <div class="tw-date">02/2/2000</div>
                            <div class="tw-category"><a href="#">LMHT</a></div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="img-top-view">
                            <a href="#"><img src="/public/assets/Blog-post/blog1.png"> </a>
                        </div>
                        <div class="content-item-top-view">
                            <div class="tw-title"><a href="#">Lorem ipsum, dolor sit amet consectetur adipisicing
                                    elit.</a>
                            </div>
                            <div class="tw-date">02/2/2000</div>
                            <div class="tw-category"><a href="#">LMHT</a></div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="img-top-view">
                            <a href="#"><img src="/public/assets/Blog-post/blog1.png"> </a>
                        </div>
                        <div class="content-item-top-view">
                            <div class="tw-title"><a href="#">Lorem ipsum, dolor sit amet consectetur adipisicing
                                    elit.</a>
                            </div>
                            <div class="tw-date">02/2/2000</div>
                            <div class="tw-category"><a href="#">LMHT</a></div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="img-top-view">
                            <a href="#"><img src="/public/assets/Blog-post/blog1.png"> </a>
                        </div>
                        <div class="content-item-top-view">
                            <div class="tw-title"><a href="#">Lorem ipsum, dolor sit amet consectetur adipisicing
                                    elit.</a>
                            </div>
                            <div class="tw-date">02/2/2000</div>
                            <div class="tw-category"><a href="#">LMHT</a></div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="img-top-view">
                            <a href="#"><img src="/public/assets/Blog-post/blog1.png"> </a>
                        </div>
                        <div class="content-item-top-view">
                            <div class="tw-title"><a href="#">Lorem ipsum, dolor sit amet consectetur adipisicing
                                    elit.</a>
                            </div>
                            <div class="tw-date">02/2/2000</div>
                            <div class="tw-category"><a href="#">LMHT</a></div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="img-top-view">
                            <a href="#"><img src="/public/assets/Blog-post/blog1.png"> </a>
                        </div>
                        <div class="content-item-top-view">
                            <div class="tw-title"><a href="#">Lorem ipsum, dolor sit amet consectetur adipisicing
                                    elit.</a>
                            </div>
                            <div class="tw-date">02/2/2000</div>
                            <div class="tw-category"><a href="#">LMHT</a></div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="img-top-view">
                            <a href="#"><img src="/public/assets/Blog-post/blog1.png"> </a>
                        </div>
                        <div class="content-item-top-view">
                            <div class="tw-title"><a href="#">Lorem ipsum, dolor sit amet consectetur adipisicing
                                    elit.</a>
                            </div>
                            <div class="tw-date">02/2/2000</div>
                            <div class="tw-category"><a href="#">LMHT</a></div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="img-top-view">
                            <a href="#"><img src="/public/assets/Blog-post/blog1.png"> </a>
                        </div>
                        <div class="content-item-top-view">
                            <div class="tw-title"><a href="#">Lorem ipsum, dolor sit amet consectetur adipisicing
                                    elit.</a>
                            </div>
                            <div class="tw-date">02/2/2000</div>
                            <div class="tw-category"><a href="#">LMHT</a></div>
                        </div>
                    </div>

                </div>
                <div class="panigation ">
                    <a href="#"><i class="fa fa-chevron-left" aria-hidden="true"></i></a>
                    <a href="#" class="pages">1</a>
                    <a href="#" class="pages">2</a>
                    <a href="#" class="pages">3</a>
                    <a href="#"><i class="fa fa-chevron-right" aria-hidden="true"></i></a>
                </div>
            </div>
        </div>
    </div>
</section>