{{#section 'js'}}
<script
    src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.full.min.js"></script>
<script>
    $('#txtDOB').datetimepicker({
        format: 'd/m/Y',
        timepicker: false,
        mask: true,
    });

    $('#frmRegister').on('submit', function (e) {
        e.preventDefault();
        validate();
    })
    $('#frmLogin').on('submit', function (e) {
        e.preventDefault();
        if (validateLogin()) {
            $('#frmLogin').off('submit').submit();
        }
    })
    function validate() {
        // ... các lệnh validate khác
        const user = $('#txtUserName').val();
        const pw = $('#txtPassword').val();
        const rpw = $('#txtConfirm').val();
        if (user == "" || pw == "" || rpw == "") {
            alert("please full in the fields");
            return false;
        }
        $.getJSON(`/users/is-available?user=${user}`, function (data) {
            if (data === true) {
                if (pw != rpw) {
                    alert('Mật khẩu không giống nhau!');
                } else {
                    $('#frmRegister').off('submit').submit();
                }
            } else {
                alert('Tên đăng nhập đã tồn tại');
            }
        })
    }
    function validateLogin() {
        // ... các lệnh validate khác
        const user = $('#UserName').val();
        const pw = $('#Password').val();
        console.log(pw + "-----" + user);
        // Bước 2: Kiểm tra dữ liệu hợp lệ hay không
        if (user == "") {
            alert('Bạn chưa nhập tên đăng nhập');
            return false;
        }
        if (pw == "") {
            alert('Bạn chưa nhập mật khẩu');
            return false;
        }
        return true;
    }
</script>
{{/section}}

<div class="login-reg-panel">
    <div class="login-info-box">
        <h2>Bạn đã có tài khoản?</h2>
        <p>Đăng nhập ngay!!!</p>
        <label id="label-register" for="log-reg-show">ĐĂNG NHẬP</label>
        <input type="radio" name="active-log-panel" id="log-reg-show" checked="checked">
    </div>

    <div class="register-info-box">
        <h2>Bạn chưa có tài khoản?</h2>
        <p>Hãy đăng ký để có trải nghiệm tốt nhất!</p>
        <label id="label-login" for="log-login-show">ĐĂNG KÝ</label>
        <input type="radio" name="active-log-panel" id="log-login-show">
    </div>

    <div class="white-panel">
        <div class="login-show">
            {{#if error}}
            <b> {{error}} </b>
            {{/if}}
            <h2>ĐĂNG NHẬP</h2>
            <form id="frmLogin" action="/users/login" method="POST">
                <input type="text" id="UserName" placeholder="Tên đăng nhập" name="UserNameLogin">
                <input type="password" id="Password" placeholder="Mật khẩu" name="PasswordLogin">
                <input type="submit" value="Đăng nhập">
            </form>

            <a href="/users/resetpass">Bạn đã quên mật khẩu?</a> <br>
            <a href="/users/extension">Gia hạn tài khoản?</a>
        </div>
        <div class="register-show">
            <h2>ĐĂNG KÝ</h2>
            <form method="POST" action="/users/register" id="frmRegister">
                <input type="text" id="txtUserName" placeholder="Tên đăng nhập" name="UserName">
                <input type="password" id="txtPassword" placeholder="Mật khẩu" name="Password">
                <input type="password" id="txtConfirm" placeholder="Nhập lại mật khẩu">
                <input type="text" id="txtEmail" placeholder="Email" name="Email">
                <input type="submit" value="Đăng Ký">
            </form>
        </div>
    </div>
</div>



{{#section 'cssLogin'}}
<style>
    @import url('https://fonts.googleapis.com/css?family=Mukta');

    body {
        font-family: 'Mukta', sans-serif;
        min-height: 550px;
        background-image: url(http://www.planwallpaper.com/static/images/Free-Wallpaper-Nature-Scenes.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        position: relative;
    }

    a {
        text-decoration: none;
        color: #444444;
    }

    .login-reg-panel {
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        text-align: center;
        width: 70%;
        right: 0;
        left: 0;
        margin: auto;
        height: 345px;
        background-color: #0f0f0f;
        z-index: 1;
    }

    .white-panel {
        background-color: rgba(255, 255, 255, 1);
        height: 500px;
        position: absolute;
        top: -50px;
        width: 50%;
        right: calc(50% - 50px);
        transition: .3s ease-in-out;
        z-index: 0;
        box-shadow: 0 0 15px 9px rgba(0, 0, 0, 0.2);
    }

    .login-reg-panel input[type="radio"] {
        position: relative;
        display: none;
    }

    .login-reg-panel {
        color: #fff;
        margin-top: 300px;
    }

    .login-reg-panel #label-login,
    .login-reg-panel #label-register {
        border: 1px solid #9E9E9E;
        padding: 5px 5px;
        width: 150px;
        display: block;
        text-align: center;
        border-radius: 10px;
        cursor: pointer;
        font-weight: 600;
        font-size: 18px;
    }

    .login-info-box {
        width: 30%;
        padding: 0 50px;
        top: 20%;
        left: 0;
        position: absolute;
        text-align: left;
    }

    .register-info-box {
        width: 30%;
        padding: 0 50px;
        top: 20%;
        right: 0;
        position: absolute;
        text-align: left;

    }

    .right-log {
        right: 50px !important;
    }

    .login-show,
    .register-show {
        z-index: 1;
        display: none;
        opacity: 0;
        transition: 0.3s ease-in-out;
        color: #242424;
        text-align: left;
        padding: 50px;
    }

    .show-log-panel {
        display: block;
        opacity: 0.9;
    }

    .login-show input[type="text"],
    .login-show input[type="password"] {
        width: 100%;
        display: block;
        margin: 20px 0;
        padding: 15px;
        border: 1px solid #b5b5b5;
        outline: none;
    }

    .login-show input[type="submit"] {
        max-width: 150px;
        width: 100%;
        background: #444444;
        color: #f9f9f9;
        border: none;
        padding: 10px;
        text-transform: uppercase;
        border-radius: 2px;
        float: right;
        cursor: pointer;
    }

    .login-show a {
        display: inline-block;
        padding: 10px 0;
    }

    .register-show input[type="text"],
    .register-show input[type="password"] {
        width: 100%;
        display: block;
        margin: 20px 0;
        padding: 15px;
        border: 1px solid #b5b5b5;
        outline: none;
    }

    .register-show input[type="submit"] {
        max-width: 150px;
        width: 100%;
        background: #444444;
        color: #f9f9f9;
        border: none;
        padding: 10px;
        text-transform: uppercase;
        border-radius: 2px;
        float: right;
        cursor: pointer;
    }

    .credit {
        position: absolute;
        bottom: 10px;
        left: 10px;
        color: #3B3B25;
        margin: 0;
        padding: 0;
        font-family: Arial, sans-serif;
        text-transform: uppercase;
        font-size: 12px;
        font-weight: bold;
        letter-spacing: 1px;
        z-index: 99;
    }

    a {
        text-decoration: none;
        color: #2c7715;
    }
</style>
{{/section}}