<div class="container mt-4">

    <div class="row">
        <div class="col-2"></div>
        <div class="col-8">
            <div class="resetpass">

                <form action="/users/resetpass" method="post">
                    <h3 class="text-center">Lấy Lại Mật Khẩu</h3>
                    <div class="form-group">
                        <input type="text" class="form-control" name="UserName" placeholder="UserName">
                    </div>
                    <div class="form-group">
                        <input type="email" class="form-control" name="Email" placeholder="Email">
                    </div>
                    <button type="submit" class="btn btn-primary w-100 mb-4">Gửi</button>
                </form>
            </div>
        </div>
        <div class="col-2"></div>
    </div>
</div>